.message{
	
	color:#DFDAEC;
    margin-right:500px;
    float:left;
    margin-right: 20px;
    width:40%;
	margin-top:5px;
	padding:5px;
	
}
.title{
	color:#DFDAEC;
    margin-right: 20px;
    width: 40%;
	padding-top:5px;
}

}
.message2{
		color:#DFDAEC;
	margin-right:1100x;	
}
body{
	background: url(https://cdn.pixabay.com/photo/2014/06/16/23/39/black-370118_960_720.png) no-repeat;
	-moz-background-size: 100%; /* Firefox 3.6+ */
	-webkit-background-size: 100%; /* Safari 3.1+ Google 9.1+ */
	-o-background-size: 100%; /* Opera 9.6+ */
    background-attachment:fixed;
	display:block;
}
a{
	color:#A58CE1;
}
header{
	display:block;
    height:70px;
    background:url(https://66.media.tumblr.com/408635d83fbfca3be79bc59f30bbfad3/tumblr_inline_p7fzrzcoK71t6wrhy_540.png) repeat-x;
    margin-right:3px;
    margin-left:3px;
	display:block;
}
/* Dropup Button */
.dropthn{
	background-color:#30312C;
	color:white;
	padding:16px;
	front-size:16px;
	border:none;
	position:absolute;
	bottom:83px;
	right:-760px;
	display:block;
}
.dropup{
	position:relative;
	display:inline-block;
}
.dropup-content{
	display:none;
	position:absolute;
	background-color:#F1F1F1;
	min-width:160px	box-shadow:0px 8px 16px
	0px rgba(0,0,0,0.2);
    z-index:1;
	position:absolute;
	bottom:-128px;
	right:-754px;
	background-color:#30312C;
	           }
.dropup-content a{
	color:#DFDAEC;
	padding:12px 16px;
	text-dicoration:none;
    display:block;
	}
dropup-content a:hover;
{background-color:#ddd;}
.dropup:hover .dropup-content{
	display:block;
}
.dropup:hover .dropthn{
	background-color:#DFDAEC;
}
.sitetitle{
	color:#DFDAEC;
	margin-left:600px;
	margin-top:-17px;
	padding-top:8px;
}
.pictures{
   float:right;
 position:relative;
 top:270px;
}
.pictures2{
	position:relative;
	left:300px;
	float:right;
	top:10px;
}
footer{
	pisithion:fixed;
	background:url(https://66.media.tumblr.com/408635d83fbfca3be79bc59f30bbfad3/tumblr_inline_p7fzrzcoK71t6wrhy_540.png) ;
	display:block;
	margin-top:510px;
	height:88px;
	
}
li{
float:middle
margin-top:6px;
}
a{
	color:#D6B3B3;
}


